@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Library</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>
<body>
    <div id="wrapper">
        <form asp-action="ForgotPassword" method="post" id="form-login">
            <div class="title-head">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" viewBox="0 0 512 512">
                    <path d="M160 96a96 96 0 1 1 192 0A96 96 0 1 1 160 96zm80 152l0 264-48.4-24.2c-20.9-10.4-43.5-17-66.8-19.3l-96-9.6C12.5 457.2 0 443.5 0 427L0 224c0-17.7 14.3-32 32-32l30.3 0c63.6 0 125.6 19.6 177.7 56zm32 264l0-264c52.1-36.4 114.1-56 177.7-56l30.3 0c17.7 0 32 14.3 32 32l0 203c0 16.4-12.5 30.2-28.8 31.8l-96 9.6c-23.2 2.3-45.9 8.9-66.8 19.3L272 512z" />
                </svg>
                <strong><p>LIBRARY</p></strong>
            </div>

            <div class="form-group">
                <svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 512 512">
                    <path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                </svg>
                <input type="email" name="email" class="form-input" placeholder="Nhập email của bạn" required>
                @if (ViewBag.ErrorMessage != null)
                {
                    <span class="text-danger">@ViewBag.ErrorMessage</span>
                }
            </div>

            @if (ViewBag.SuccessMessage != null)
            {
                <div class="success-message">
                    @ViewBag.SuccessMessage
                </div>
            }

            <input type="submit" value="Gửi" class="form-submit">

            <div class="link">
                <a asp-action="Login">Quay lại đăng nhập</a>
            </div>
        </form>
    </div>
</body>
</html>