@{
    ViewBag.Title = "Trang chủ";
}

<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(/images/home.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-12 ftco-animate text-center">
                        <h1 class="mb-2">Chúng tôi cung cấp các tài liệu học tập & Giáo trình</h1>
                        <h2 class="subheading mb-4">Những cuốn sách chất lượng & những cuốn sách hay</h2>
                        <p><a href="#" class="btn btn-primary">Xem chi tiết</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-item" style="background-image: url(/images/home_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-sm-12 ftco-animate text-center">
                        <h1 class="mb-2">Sách phát triển bản thân & Sách chữa lành</h1>
                        <h2 class="subheading mb-4">Những cuốn sách chất lượng & những cuốn sách hay</h2>
                        <p><a href="#" class="btn btn-primary">Xem chi tiết</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-box"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Tài liệu học tập</h3>
                        <span>500+ Độc giả tin tưởng sử dụng</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-award"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Luôn luôn cập nhật sách</h3>
                        <span>Các cuốn sách luôn được cập nhật theo thời gian</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-award"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Sách chất lượng cao</h3>
                        <span>Chất lượng sách luôn được bảo quản tốt</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Hỗ trợ</h3>
                        <span>Hỗ trợ độc giả 24/7</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 order-md-last align-items-stretch d-flex">
                        <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(/images/category.jpg);">
                            <div class="text text-center">
                                <h2>Library</h2>
                                <p>Đem đến tri thức cho bạn</p>
                                <p><a href="#" class="btn btn-primary">Xem sách ngay!</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(/images/category_1.jpg);">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">Tài liệu học tập</a></h2>
                            </div>
                        </div>
                        <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(/images/category_3.jpg);">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a href="#">Sách phát triển bản thân</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(/images/category_2.png);">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a href="#">Tài liệu lịch sử</a></h2>
                    </div>
                </div>
                <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(/images/category_4.jpg);">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a href="#">Tiểu thuyết</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">Sách đang có trong thư viện</span>
                <h2 class="mb-4">Thư viện sách</h2>
                <p>Đem đến tầm cao tri thức, kiến thức, kinh nghiệm và trải nghiệm</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @if (ViewBag.Books != null)
            {
                foreach (var book in ViewBag.Books)
                {
                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="book">
                            <a href="/Home/BookDetails?id=@book.id" class="img-prod">
                                <img class="img-fluid" src="@book.image" alt="@book.title">
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="/Home/BookDetails?id=@book.id">@book.title</a></h3>
                                <div class="bottom-area d-flex px-3">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Chưa có sách nào trong thư viện.</p>
            }
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <p><a href="/Reader/Library?category=Tất cả" class="btn btn-primary">Xem thêm sách</a></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <span class="subheading">Bình luận</span>
                <h2 class="mb-4">Các nhà văn học đã nói gì về thư viện của chúng tôi</h2>
                <p>Đem đến tầm cao tri thức, kiến thức, kinh nghiệm và trải nghiệm. Mang tới niềm yêu thích sách cho các độc giả của chúng tôi</p>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel">
                    <div class="item">
                        <div class="testimony-wrap p-4 pb-5">
                            <div class="user-img mb-5" style="background-image: url(/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text text-center">
                                <p class="mb-5 pl-4 line">Far far away, behind the word mountains...</p>
                                <p class="name">Garreth Smith</p>
                                <span class="position">Marketing Manager</span>
                            </div>
                        </div>
                    </div>
                    <!-- Thêm các bình luận khác tương tự -->
                </div>
            </div>
        </div>
    </div>
</section>